# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
build

# Testing
coverage
*.lcov

# Environment (secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor / IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Cache
.eslintcache
.cache
*.tsbuildinfo
